@{
  ViewData["Title"] = "Flower Seeds";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
  <style>
        .s {
            display: block;
        }
    </style>
}


        <p class="par">Flower Seeds</p>
        <p class="par"></p>
        <ol>
            <li>Lavander</li>
            <li>Sunflower</li>
            <li>Wild flowers</li>
        </ol>