@{
  ViewData["Title"] = "Vegetables Seeds";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
  <style>
        .s {
            display: block;
        }
    </style>
}

    <p class="par">Vegetable Seeds</p>
        <p class="par"></p>
        <ol>
            <li>Tomatoes</li>
            <li>Cucumbers</li>
            <li>Peas</li>
            <li>Beans</li>
        </ol>