@{
  ViewData["Title"] = "Blight Resistant";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
  <style>
        .p {
            display: block;
        }
    </style>
}

    
        <p class="par"> Potatoes</p>
        <p class="par"></p>
        <ol>
            <li>Orla</li>
            <li>Setanta</li>
            <li>Sarpo Mira</li>
        </ol>
  

