@{
  ViewData["Title"] = "Main Crop Potatoes";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
  <style>
        .p {
            display: block;
        }
    </style>
}


        <p class="par">Main Crop Potato Seeds</p>
        <p class="par"></p>
        <ol>
            <li>Cara</li>
            <li>Records</li>
            <li>Rooster</li>
            <li>Pink fir apple</li>
        </ol>